<!doctype html>
<html>
<head>
    <%= stylesheet_link_tag "normalize", "all", "whoa"%>
<%= javascript_include_tag "jquery-1.9.1.min",
  "jquery-ui-1.8.23.custom.min",
  "hammer","jquery.infinitedrag",

  "history",
  "history.adapter.jquery",
  "router",
  "script"
%>

    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || current_resource.metadata[:title] || "The Middleman" %></title>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
