---
title: Welcome to Megapont
---
<div id="container">
  <%= partial "/partials/lang_switch" %>
  <%= partial "/partials/navigation" %>


  <div id="content">
    <div class="post">
      <h2>Works</h2>
      <% @works_array.each_with_index do |work, index| %>
        <a href="works/<%= index  %>.html">
        <% if I18n.t(:lang) == "en" %>
          <%= work.title %>
      <% else %>
          <%= work.ru_title %>
      <% end %>

      </a>


    <% end %>

      <div id="disqus_thread"></div>
      <script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'megapont'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </div>
  </div>
</div>


<div id="viewport">
  <div id="wall"></div>
</div>

<%= partial "/partials/footer" %>



