<style>
  table th {
    color: #888;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.175em;
    font-size: 90%;
  }
  table th, table td {
    vertical-align: middle;
  }
  .name {
    font-weight: bold;
  }
  .value {
    font-family: Monaco, monospace;
    font-size: 90%;
  }

</style>

<div class="row-fluid">
  <div class="span2">
  <a href="/admin/pages/new" class="btn">Новая страница</a>

    </div>

<div class="span10">

    <h3>Pages</h3>
  
  <% 
  # keys = @regions.first.keys + ['actions'] 
  keys = %w( title name body path actions )
  labels = %w( Title Region Body Path Actions )
  %>
  <table class="table zebra-striped">
    <thead>
      <tr>
        <% for n in (0..labels.size) %>
          <th><%= labels[n] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% for page in @pages %>
      <tr>
        <% for key in keys[0..-2] %>
          <td class="<%= key %>">
            <% if key == 'name' %>
              <a href="<%= url("/page#{MiddleManager::Store.generate_key(page.name, page.category)}/edit") %>"><%= page.name %></a>
            <% elsif key == 'category' %>
              <a href="<%= page[key] %>"><%= page[key] %></a>
            <% elsif key == 'value' %>
              <%= Rack::Utils::escape_html page[key][0..39] + (page[key].size > 39 ? '…' : '') %>
            <% else %>
              <%= page[key] %>
            <% end %>
          </td>
        <% end %>
        <td>
          
          <div style="margin-top: 8px;">
            <a href="<%= url("/page#{MiddleManager::Store.generate_key(page.name, page.category)}/edit") %>" class="btn">Edit</a>
          
            <form action="<%= url("/page#{MiddleManager::Store.generate_key(page.name, page.category)}") %>" method="post" style="display: inline-block;">
              <div style="margin:0;padding:0 0 0 1em;">
                <a class="delete danger red" href="#">Delete</a>
                <input type="submit" value="Delete" style="display: none;"/>
                <input name="_method" type="hidden" value="delete" />
              </div>
            </form>
          </div>
          
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
    
</div>

<script>
  $('.delete').click(function() {
    if (confirm("Delete?")) {
      $(this).parents("form:eq(0)").submit();
    }
    return false;
  })
</script>

